.comment__text{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    text-align: center;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    resize: vertical;
    outline: none;
    vertical-align: center;
    color: inherit;
    height: 100%;
}

.comment__text--hinting{
    color: #cdcdcd;
}

.comment__wrap:hover{
    background: #f5f5f5;
    cursor: text;
    transition: none;
}

.comment__toast{
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    height: 25px;
    margin-top: -20px;
    font-size: .9rem;
}

.comment__toast--success{
    background: rgba(188, 255, 184, 0.9);
    color: rgb(25, 176, 0);
}

.comment__toast--fail{
    background: rgba(255, 195, 184, 0.9);
    color: rgb(196, 4, 0);
}

.comment__wrap{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: .5px solid #c3c3c3;
    transition: background-color 300ms ease-out;
}