.card {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 100px auto auto;
  grid-template-areas:
          "amount amount"
          "details comment"
          "receipts receipts";
  background: white;
  border-radius: 8px;
}

// Main grid layout classes----------------------------
.card__header-area {
  position: relative;
  grid-area: amount;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px 8px 0 0;
  border: .5px solid #c3c3c3;
  border-bottom: none;
}

.card__details-area {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: .5px solid #c3c3c3;
}

.card__comment-area {
  grid-area: comment;
  border-right: .5px solid #c3c3c3;
}

.card__receipts-area {
  grid-area: receipts;
  padding: 0;
  margin: 0 1px 0 0;
}

// Grid area sub-classes----------------------------
.card__amount {
  font-size: 2.3rem;
}

.card__date {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.85rem;
  margin: 6px 8px;
}

.material-icons {
  color: rgb(255, 51, 102);
}

.card__details-wrap div{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.card__details-area i{
  display: inline-block;
  padding: 0;
  margin: 0 10px 0 0;
}

.card__details-area p{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.card__details-area {
  a:link, a:visited{
    color: inherit;
    text-decoration: none;
  }

  a:hover, a:active{
    color: rgb(255, 51, 102);
    text-decoration: underline;
  }
}