.card {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 2px;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 100px auto auto;
    grid-template-areas: "amount amount"
                        "details comment"
                        "receipts receipts";
}

// Main grid layout classes----------------------------
.card__header-area{
    position: relative;
    background: beige;
    grid-area: amount;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.card__details-area{
    background: #b0baf5;
    grid-area: details;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card__comment-area{
    grid-area: comment;
}

.card__receipts-area{
    grid-area: receipts;
    padding: 0;
    margin: 0;
}

// Grid area sub-classes----------------------------
.card__amount{
    font-size: 2.3rem;
}

.card__date{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.85rem;
    color: #b7b7b7;
    margin: 5px 5px;
}

.card__user{

}

.card__merchant{

}

.card__category{

}

.card__link{

}

