.modalWindowOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 999;
}

.modalWindow {
    width: 50%;
    //max-width: 700px;
    height: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    overflow: auto;
    outline: none;
    padding: 20px;
    text-align: center;
    z-index: 999;
    box-shadow: 0 0 24px 2px rgba(98,98,173,0.14), 0 0 60px 5px rgba(10,10,56,0.17);
    border-radius: 8px;
    color: #6A6E73;
}

.modalWindow h2 {
    font-weight: 100;
    font-size: 2em;
    margin-bottom: 30px;
    clear:both;
}

.modalWindow input[type="text"] {
    display: block;
    width: 200px;
    height: 25px;
    margin: 0 auto;
}

.warningModal .btnGreen {
    font-size:0.9em;
}